pkgbase = python-wheel
	pkgdesc = A built-package format for Python
	pkgver = 0.42.0
	pkgrel = 1
	url = https://pypi.python.org/pypi/wheel
	arch = any
	license = MIT
	checkdepends = python-jsonschema
	checkdepends = python-pytest
	checkdepends = python-keyring
	checkdepends = python-keyrings-alt
	checkdepends = python-xdg
	checkdepends = python-pytest-cov
	makedepends = python-setuptools
	makedepends = python-build
	makedepends = python-flit-core
	makedepends = python-installer
	depends = python<3.13
	depends = python-packaging
	optdepends = python-keyring: for wheel.signatures
	optdepends = python-xdg: for wheel.signatures
	source = wheel-0.42.0.tar.gz::https://github.com/pypa/wheel/archive/0.42.0.tar.gz
	sha512sums = 022aebdf077d32673cbbd9a41b96001324c026e2ccfc4eb42648a2a29c25da031f8b14c38ae6143b6d3720d57f269df6087c2025009f6d1296579513de214bd1

pkgname = python-wheel
